
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,800&display=swap');

* {
    height: auto;
}

.container-fluid {
    padding: 7% 15% 3%;
}

section {
    padding: 80px 0;
}

/* nav */

.navbar {
    font-family: 'Montserrat';
    line-height: 2.5;
    font-weight: 700;
}

/* PAGE CONTENT 1 */

#title {
    background-image: linear-gradient(to right, #ff0000 0%, #ffe600 100%);
}

h1, h2, p,h5 {
    padding-top: 7%;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 1.5;

    color: #fff;
}

h2 {
    padding: 0%;
    font-size: 1.5rem;
}

.btn {
    margin-top: 4rem;
}

/*section diversity */

#diversity {
    background-color: #fff;
}

h5 {
    color: black;
    font-weight: 600;
    font-size: 2rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(90, 90, 90);
}

.btn-dark-light {
    background-color: rgb(65, 0, 169);
    color: white;
}

.btn-dark-light:hover {
    background-color: rgb(92, 0, 163);
    color: white;
    transition: 0.3s;
}

/*section cards */

#cards {
    background: radial-gradient(circle, rgba(255,196,0,1) 0%, rgba(255,0,0,1) 100%);
}

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
}

/* CARD ANIMATION */


.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

/* CARD ANIMATION END */



img {
    border-radius: 20px;
    width: 340px;
}

/*section cards end */




/* QUERY */

@media (max-width:535px) {

    .btn:last-child {
        margin-top: 1rem;
    }

    h1 {
        font-size: 34px;
        line-height: 1;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/*need change this */ 

@media (max-width:991px) {

}

@media (max-width:1200px) {
    img {
        width: 200px;
    }
}

@media (max-width:767px) {
    img {
        width: 400px;
    }
}

@media (max-width:460px) {
    img {
        width: 250px;
    }
}

@media (max-width:300px) {
    img {
        width: 150px;
    }
}


