
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,800&display=swap');


.container-fluid {
    padding: 7% 15% 3%;
}

section {
    padding: 80px 0;
}

/* nav */

.navbar {
    font-family: 'Montserrat';
    line-height: 2.5;
    font-weight: 700;
}

/* PAGE CONTENT 1 */
#title .container-fluid {
    padding: 3% 15% 3%;
}

#title {
    background-image: linear-gradient(to right, #ff0000 0%, #ffe600 100%);
}

h1, h2, h3, p, h5 {
    padding-top: 7%;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 1.5;

    color: #fff;
}

h2 {
    padding: 0%;
    font-size: 1.5rem;
}

.btn {
    margin-top: 4rem;
}

/*section diversity */

#diversity {
    background-color: #fff;
}

.shard {
    margin: 0 auto;
    align-items: center;
}

h5 {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: rgb(90, 90, 90);
}

.btn-dark-light {
    background-color: rgb(65, 0, 169);
    color: white;
}

.btn-dark-light:hover {
    background-color: rgb(92, 0, 163);
    color: white;
    transition: 0.3s;
}

/*section cards */

#cards-1 {
    background: radial-gradient(circle, rgba(71,0,166,1) 0%, rgba(54,0,96,1) 100%)
}

#cards-2 {
    background: radial-gradient(circle, rgba(0,136,255,1) 0%, rgba(1,0,255,1) 100%);
}

#cards-3 {
    background: radial-gradient(circle, rgba(166,0,0,1) 0%, rgba(255,156,0,1) 100%);
}

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
}

/* CARD ANIMATION */


.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

/* CARD ANIMATION END */

img {
    border-radius: 20px;
    width: 340px;
}

/*section cards end */

/* FOOTER */

#footer {
    background-color: #fff;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    line-height: 0;
    text-transform: capitalize;
    padding-top: 30px;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    padding: 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: black;
}

.socials a i{
    font-size: 1.1rem;
}

.footer-bottom p{
    text-align: center;
    padding: 0;
}
/* --------------BRAKEPOINTS-------------- */

@media (max-width:547.20px) {

    .btn:last-child {
        margin-top: 1rem;
    }

    h1 {
        font-size: 34px;
        line-height: 1;
    }

    h2 {
        font-size: 1.2rem;
    }
}

/*need change this */ 

@media (max-width:991px) {

}

@media (max-width:1200px) {
    img {
        width: 200px;
    }
}

@media (max-width:767px) {
    img {
        width: 400px;
    }
}

@media (max-width:460px) {
    img {
        width: 250px;
    }
}

@media (max-width:300px) {
    img {
        width: 150px;
    }
}


